.my-photo-1{
    background-image: url(https://img.freepik.com/free-photo/silhouette-young-beautiful-woman-surfing-sea-sunrise_176420-2036.jpg?size=626&ext=jpg&ga=GA1.1.1585279076.1699451931&semt=sph);
    background-position: center;
    background-size: cover;
}
.my-photo-2{
    background-image: url(https://img.freepik.com/free-photo/person-surfing-flying-parachute-same-time-kitesurfing_181624-7630.jpg?size=626&ext=jpg&ga=GA1.1.1585279076.1699451931&semt=sph);
    background-position: center;
    background-size: cover;
}